
@{
    ViewBag.Title = "ServiceInterupted";
    Layout = "~/Views/_AppLayoutPage.cshtml";
}

<div class="container">
    <div class="col-lg-4">
        <img src="~/Images/broken-service.jpg"  width="150px" height="150px"/>
        Our sevice interrupted. Sorry for the inconvience.
    </div>
</div>

