<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Scripts/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/css/bootstrap-grid.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="jumbotron">
            Guvi CRM Suite
        </div>
        <div class="container">
            @RenderBody()
        </div>
    </div>
    <div class="card-footer">
        &copy; @DateTime.Today.Year. <a href="http://guvi.in" target="_blank">Guvi.in. </a>All rights reserved.
    </div>
</body>
</html>
