@{
    //ViewBag.Title = "Index";
    Layout = "~/_LayoutPage.cshtml";
}

<div class="row">
    <div class="col-lg-4">
        asdfadfadfadfadfadfadfadf
    </div>
    <div class="col-md-4">
        <section class="login-form">
            <form method="post" action="#">
                <input type="text" name="username" id="txtUsername" placeholder="Enter username" required="" autofocus="" class="form-control input-lg" />
                <input type="password" class="form-control input-lg" id="txtPassword" placeholder="Password" required="" />
                <div class="pwstrength_viewport_progress"></div>
                <button type="submit" name="go" id="btnLogin" class="btn btn-lg btn-primary btn-block">Sign in</button>
                <div id="loginErrorMessage"></div>
                <div>
                    <a href="#">Forget password?</a>
                </div>
            </form>
        </section>
    </div>
</div>

<style>
    .login-error-msg {
        background-color: mediumpurple;
        padding: 12px;
        margin: 12px;
        opacity: 0.5;
        color: #fff;
        border-radius: 8px;
    }
</style>

<script>
    $('#btnLogin').click(function (e) {
        $.ajax({
            url: "http://localhost:12681/apilogin/login" + "?username=" + $('#txtUsername').val()
                + "&password=" + $('#txtPassword').val(),
            type: "POST",
            dataType: "json",
            success: function (data) {
                //for valid login. service will return true else false.
                if (data == true) {
                    window.location.href = "../Dashboard/Dashboard";
                }
                else {
                    $('#loginErrorMessage').fadeIn(1000);
                    $('#loginErrorMessage').empty().addClass('login-error-msg').text('Not a valid login.');
                    setTimeout(function () { $('#loginErrorMessage').fadeOut(); }, 3000);
                    $('#txtUsername').val('');
                    $('#txtPassword').val('');
                    $('#txtUsername').focus();
                }
            },
            error: function (err) { window.location.href = "../ServiceInterupted/ServiceInterupted"; }
        });
        e.preventDefault();
    });
</script>
