@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/_AppLayoutPage.cshtml";
}


<h2>Dashboard</h2>
<div id="calendar" style="width:50%; height:50%; padding:12px; margin:0px auto;"></div>

<div class="modal" id="ModalEvent" tabindex="-1" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-sm-4"><h3><span style="padding:12px;">Event Scheduler</span></h3></div>
                    <div class="col-sm-4 pull-right">
                        <button type="button" id="btnCloseModal" class="text-center close pull-right" data-dismiss="modal">&times;</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <table style="width:95%; margin:0px auto;">
                    <tr style="padding:15px;">
                        <td><label>Event name</label></td>
                        <td><input type="text" id="txtEventName" class="form-control" autofocus maxlength="25" /></td>
                    </tr>
                    <tr style="padding:15px;">
                        <td><label>Start Datetime</label></td>
                        <td><input type="date" class="form-control" id="txtStartDateTime" /></td>
                        <td><label>End Datetime</label></td>
                        <td><input type="date" class="form-control" id="txtEndDateTime" /></td>
                    </tr>
                    <tr style="padding:15px;">
                        <td><label>Agenda of the meeting</label></td>
                        <td colspan="2">
                            <textarea class="form-control" id="txtEventAgenda" rows="6" cols="7" maxlength="1000"></textarea>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" id="btnCreateEvent">Create Event</button>
                <button type="button" class="btn btn-info" data-dismiss="modal" id="btnCancelEvent">Cancel Event</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        //$.ajax({
        //    url: approximatePath + "/scheduler/Scheduler",
        //    dataType: 'JSON',
        //    type: 'GET',
        //    success: function (responseData) {
        //        $('div[id=calendar]').fullCalendar({
        //            header: {
        //                left: 'prev, next today',
        //                center: 'title',
        //                right: 'month,agendaWeek,agendaDay'
        //            },
        //            defaultDate: '2017-09-12',
        //            navLinks: true,
        //            selectable: true,
        //            selectHelper: true,
        //            editable: true,
        //            eventLimit: true,
        //            select: function (start, end) {
        //                var title = "Welcome to Tigwa Chemicals CRM";
        //                $('#ModalEvent').modal('show');
        //                var eventData;
        //                //if (true) {
        //                //    eventData = {
        //                //        title: title,
        //                //        start: start,
        //                //        end: end
        //                //    };
        //                //    $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
        //                //}
        //                //$('#calendar').fullCalendar('unselect');
        //            },
        //            events: $.map(responseData, function (item, i) {
        //                var eventDetails = new Object();
        //                eventDetails.id = i;
        //                //eventDetails.start = new Date(item.start);
        //                //eventDetails.end = new Date(item.end);
        //                //eventDetails.title = item.title;
        //                //eventDetails.start = new Date(item.start);
        //                eventDetails.start = item.start;
        //                eventDetails.end = moment.format(item.end);
        //                //return event;
        //                alert(eventDetails.title + ' ' + eventDetails.end + ' ' + eventDetails.start);
        //                $('div[id=calendar]').fullCalendar('renderEvent', eventDetails, true); // stick? = true
        //            }),
        //        });
        //    },
        //    error: function () { }
        //});



        $('div[id=calendar]').fullCalendar({
            header: {
                left: 'prev, next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            defaultDate: '2017-09-12',
            navLinks: true,
            selectable: true,
            selectHelper: true,
            editable: true,
            eventLimit: true,
            select: function (start, end) {
                var title = "Welcome to Tigwa Chemicals CRM";
                $('#ModalEvent').modal('show');

                var eventData;
                //if (true) {
                //    eventData = {
                //        title: title,
                //        start: start,
                //        end: end
                //    };
                //    $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
                //}
                //$('#calendar').fullCalendar('unselect');
            },
            eventSource: approximatePath + "/scheduler/Scheduler"
            //events: $.map(responseData, function (item, i) {
            //    var eventDetails = new Object();
            //    eventDetails.id = i;
            //    //eventDetails.start = new Date(item.start);
            //    //eventDetails.end = new Date(item.end);
            //    //eventDetails.title = item.title;
            //    //eventDetails.start = new Date(item.start);

            //    eventDetails.start = item.start;
            //    eventDetails.end = moment.format(item.end);

            //    //return event;
            //    alert(eventDetails.title + ' ' + eventDetails.end + ' ' + eventDetails.start);
            //    $('div[id=calendar]').fullCalendar('renderEvent', eventDetails, true); // stick? = true
            //}),
        });
    });

    $('#btnCreateEvent').click(function () {
        if (ValidateFields()) { //Ajax call to service which store data to the DB
            var schedulerPropertyObject = {
                GoalTitle: $('#txtEventName').val(),
                goals: $('#txtEventAgenda').val(),
                CreatedBy: 'gopi',
                ModifiedBy: 'gopi',
                EventID: 'event001',
                EventStartDTTM: $('#txtStartDateTime').val(),
                EventEndDTTM: $('#txtEndDateTime').val(),
            };

            $.ajax({
                url: approximatePath + '/scheduler/Scheduler',
                type: 'POST',
                data: JSON.stringify(schedulerPropertyObject),
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    if (response == true) {
                        alert("New event added to calender");
                        $('#txtStartDateTime').val('');
                        $('#txtEndDateTime').val('');
                        $('#txtEventAgenda').val('');
                        $('#txtEventName').val('');
                        $('#ModalEvent').modal('hide');
                    }
                    else { }
                },
                error: function (jqXHR) {
                    window.location.href = "../ServiceInterupted/ServiceInterupted";
                }
            });
        }
        else {
            //Display validation error message to user.
            alert('All the fields are mandatory. ');
        }
    });

    function ValidateFields() {
        var eventName = $('#txtEventName').val();
        var startDate = $('#txtStartDateTime').val();
        var endDate = $('#txtEndDateTime').val();
        var eventAgenda = $('#txtEventAgenda').val();

        if (eventAgenda == null || startDate == null || endDate == null || eventName == null)
        { return false; }

        return true;
    }


</script>